@import "@material/button/mdc-button";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/card/mdc-card";
@import "@material/layout-grid/mdc-layout-grid";

.foo-button {
  @include mdc-button-ink-color(teal);
  @include mdc-states(teal);
}

*{
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
    overflow: hidden;
}

body {
	background: rgb(42, 42, 42);
	font-family: Roboto, sans-serif;
}

.mdc-layout-grid {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.mdc-layout-grid__inner {
    width: auto;
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;

}

.mdc-card {
    padding: 16px;
    //margin: auto auto 16px auto;
    width: 100%;
}

#day a {
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
}
